<!DOCTYPE html>
<html style="background-color: #aacfd0;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VidHealth</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section id="hero">
        <nav class="navbar navbar-light navbar-expand-md" style="background-color: #aacfd0;margin-top: 0px;margin-bottom: 0px;margin-right: 1px;">
            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1"></div>
            </div>
        </nav><em id="slogan" value="Professional medical advise at your fingertips">Professional medical advise at your fingertips</em>
        <section id="Title" style="height: 47px;margin-bottom: -40px;width: 500px;padding-left: 85px;margin-left: 136px;margin-top: 0px;"><strong style="color: rgb(0,0,0);font-size: 35px;margin-right: -113px;margin-left: 230px;margin-bottom: 0px;margin-top: 0px;">Log In</strong></section>
        <section id="form" style="width: 501px;height: 449px;margin: 0px;margin-top: 116px;margin-bottom: 50px;margin-left: 447px;padding: 0px;margin-right: 0px;"
            placeholder="username">
            <form style="height: 246px;margin-top: -188px;"><input class="form-control" type="text" style="margin-top: 4px;margin-right: 1px;margin-bottom: 12px;width: 400px;" placeholder="Username"><input class="form-control" type="password" style="width: 400px;" placeholder="Pasword"><button class="btn btn-primary"
                    type="button" style="background-color: rgb(170,207,208);padding-right: 14px;margin-right: 0px;margin-left: 273px;width: 128px;margin-top: 7px;">Log In</button></form>
        </section>
        <footer style="background-color: #aacfd0;"></footer>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>