<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VIDHealth</title>
</head>

<body>
  <h1 class="mt-4">Check Your Symptoms</h1>
  <div class="card-text">
    <h5 class="card-title">Please select your sex and age.</h5>
    <form>
      <div class="form-group row">
        <label for="input-sex" class="col-sm-2 col-form-label">Sex</label>
        <div class="col-sm-10">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="sex-radio-inline-1" name="sex-radio-inline" class="input-sex custom-control-input"
              value="male" checked>
            <label class="custom-control-label" for="sex-radio-inline-1"><i class="fa fa-fw fa-male"></i> male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="sex-radio-inline-2" name="sex-radio-inline" class="input-sex custom-control-input"
              value="female">
            <label class="custom-control-label" for="sex-radio-inline-2"><i class="fa fa-fw fa-female"></i>
              female</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="input-age" value="30">
        </div>
      </div>
    </form>
    <br>
    <br>

  </div>

  <div class="container">

    <h5 class="card-title">Tell us how you feel.</h5>
    <div class="card-text">
      <form>
        <div class="form-group">
          <label for="input-feel">We will try to recognize your symptoms using Natural Language Processing
            algorithms.</label>
          <textarea placeholder="e.g. I got headache" class="form-control" id="input-feel" oninput="" rows="4"></textarea>
          <br>
          <button id="observ" class="btn btn-primary float-right">Check <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
      <p>Identified observations:</p>
      <ul class="list-unstyled" id="observations">
      </ul>

      <br>
      <br>
      <button id="observ" class="btn btn-primary float-right">Next <i class="fa fa-chevron-right"></i></button>
    </div>
    <br>

    <br>
    <br>


   <script src ="js/srchFun.js" ></script>

  




</body>




</html>