doctype html
html(lang='en')
  head
    title Welcome
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Welcome
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title=='Members' ? 'active' : ''))
              a(href='/') About
            li(class=(title=='Register' ? 'active' : ''))
              a(href='/users/register') Register
            li(class=(title=='Login' ? 'active' : ''))
              a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/users/logout') Logout    
      .container 
    block content
    script(src='./js/jquery.min.js')
    script(src='./js/bootstrap.js')